<div class="">
  <md-toolbar color="primary">
    <span>Late sanasieppo</span>
    <span class="spacing"></span>
    <span>
      <button md-menu-item [mdMenuTriggerFor]="menu" color="accent">
        <md-icon> more_vert </md-icon>
        <span> Menu </span>
      </button>
    </span>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </md-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-around stretch" >
    <md-card class="late-card card-2">
      <md-card-header>
        <md-card-title>
          <h1 class="mat-h1">LATE SANASIEPPO</h1>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <form>
          <md-input-container class="center">
            <textarea 
              [(ngModel)]="speak.text" 
              name="speak" 
              id="speak" 
              rows="12" 
              mdInput 
              class="tarea center"
              placeholder="Kirjoita ja kone puhuu" 
              
              (keyup)="onKey($event)"></textarea>
          </md-input-container>
        </form>
        <p>{{test}}</p>
      </md-card-content>
      <md-card-actions>
        <div class="button-row">
          <button md-raised-button color="accent" (click)="speakToMe()">Puhu</button>
          <button md-raised-button color="warn" (click)="clear()">Tyhjennä</button>
        </div>
      </md-card-actions>
      <md-card-footer>
        <md-select placeholder="Viimeisimmät lauseet">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </md-option>
        </md-select>
      </md-card-footer>
    </md-card>
  </div>
</div>