@import "../../node_modules/material-design-lite/dist/material.brown-red.min.css";

.late-card {
  width: 100%;
}

.mdl-textfield {
  width: 100%;
}

.fs-12 {
  font-size: 12px;
}
.material-icons {
  margin: 0 0 0 0.25rem;
}
